#update-container {
  padding: 0 40px;
}
.quest-wrapper {
  margin: 5px;
  padding: 5px;
  clear: both;
}
.quest-wrapper .quest-tools {
  background-color: white;
  padding: 2px;
}
.quest-wrapper .quest-image {
  cursor: pointer;
  text-align: center;
  height: 300px;
}
.quest-wrapper .quest-image .quest-image-object {
  max-height: 100%;
  max-width: 100%;
}
.quest-wrapper .quest-inputs {
  padding: 1px;
}
.quest-wrapper .quest-inputs textarea {
  width: 100%;
  border: none;
}
.quest-wrapper .quest-inputs textarea:focus {
  color: #0000aa;
  border: 1px solid black;
  box-shadow: 0 0 2em gray;
}
.quest-wrapper .answer-help {
  font-size: .8em;
}
.quest-wrapper .answer-help span {
  color: #0000aa;
}
.quest-wrapper .answer-section {
  font-size: .8em;
}
.quest-wrapper .answer-section .answer-correct {
  box-shadow: 0 0 5px red;
}
.quest-wrapper .answer-section .answer-wrapper {
  padding: 2px;
  margin: 2px;
  float: left;
}
.quest-wrapper .answer-section .answer-wrapper .answer-inputs {
  width: 100px;
  height: 100px;
  position: relative;
}
.quest-wrapper .answer-section .answer-wrapper .answer-inputs textarea {
  width: 100%;
  height: 100%;
  border: 2px dashed silver;
}
.quest-wrapper .answer-section .answer-wrapper .answer-inputs textarea:focus {
  color: #0000aa;
  border-style: solid;
  border-color: grey;
  box-shadow: 0 0 2em gray;
}
.quest-wrapper .answer-section .answer-wrapper .answer-inputs img.answer-image-object {
  max-width: 100%;
  max-height: 100%;
}
#add-media-dialog progress {
  width: 100%;
}
#add-media-dialog .upload-buttons-wrapper {
  text-align: center;
  background-color: silver;
  padding: 10px;
}
#quest-right {
  background-color: silver;
}
#quest-right .option-block {
  margin: 2px 0;
  padding: 5px;
  border-bottom: 5px solid whitesmoke;
}
#quest-right .option-block h3 {
  margin: 0 0 5px;
}
#quest-right .option-block img.quiz-cover-image {
  max-width: 200px;
  cursor: pointer;
}
#quest-right .option-block .options-quest-wrapper {
  cursor: pointer;
  margin: 1px;
  padding: 1px;
}
