.quest-wrapper{
  margin: 5px;
  padding: 5px;
  clear: both;
  .quest-tools{
	background-color: white;
	padding: 2px;
  }
	.quest-image{
	  cursor: pointer;
	  text-align: center;
	  height: 300px;
	  .quest-image-object{
		max-height: 100%;
	  }
	}
	.quest-inputs{
	  padding: 1px;
	  textarea{
		width: 100%;
		border: none;
	  }
	  textarea:focus{
		color: #0000aa;
		border:1px solid black;
		box-shadow: 0 0 2em gray;
	  }

	}
  	.answer-section{
	  	.answer-wrapper{
		  padding: 2px;
		  margin: 5px;
		  float: left;
		  width: 45%;
		  position: relative;
		  font-size: .8em;
		  .answer-tools{
			position: absolute;
			right:0;
			background-color: wheat;
		  }
		  textarea{
			width: 100%;
			border: 2px dashed silver;
		  }
		  textarea:focus{
			color: #0000aa;
			border-style: solid;
			border-color: grey;
			box-shadow: 0 0 2em gray;
		  }

		}
	}
}
#add-media-dialog{
  progress{
	width: 100%;
  }
  .upload-buttons-wrapper{
	div{
	  padding: 10px;
	  text-align: center;
	  background-color: silver;
	  height: 100px;
	  span{
		font-size: 5em;
		cursor: pointer;
		color: #1b6d85;
	  }
	}
  }
}

.spacer{
  clear: both;
}
.bg-color-1{background-color: blue}
.bg-color-2{background-color: blueviolet}
.bg-color-3{background-color: brown}
.bg-color-4{background-color: burlywood}
.bg-color-5{background-color: cadetblue}
.bg-color-6{background-color: chartreuse}
.bg-color-7{background-color: chocolate}
.bg-color-8{background-color: coral}
.bg-color-9{background-color: cornflowerblue}
.bg-color-0{background-color: darkgoldenrod}